################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Discord.Addon.InteractiveMenus
/Discord.Addon.InteractiveMenus/bin
/Discord.Addon.InteractiveMenus/obj
/Discord.Addon.InteractiveMenus/Properties/PublishProfiles
